################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/TrivialeArbeitszeiterfassung/v15/Server/sqlite3
